.Main {
	border: 2px solid maroon;
	/* width: 100%; */
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		'searchBar searchBar'
		'searchResults nominations';
	gap: 1.5rem;
}

.SearchTitle,
.Results,
.Nominations {
	background: rgba(245, 244, 244, 0.9);
	/* margin: 1rem 0; */
	border-radius: 7px;
}

.SearchTitle {
	grid-area: searchBar;
}

.Results {
	grid-area: searchResults;
}

.Nominations {
	grid-area: nominations;
}
