.Layout {
	/* height: 100vh; */
	max-width: 1200px;
	margin: 0 auto;
	padding: 2rem 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.Layout > header {
	margin-bottom: 2rem;
}
